<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<style>
.js-enabled .nhsuk-checkboxes__conditional--hidden {
  display: block;
}

.js-enabled .govuk-checkboxes__conditional--hidden {
  display: none;
}
</style>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1>
                  Do you currently have any of these symptoms?
              </h1>
            </legend>
        
            <span class="nhsuk-hint" id="example-hint">
                 Select all that apply
            </span>
        
            <div class="nhsuk-checkboxes" data-module="checkboxes">
              
              <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="high-temperature" name="example" type="checkbox" value="high-temperature">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="high-temperature">
                      High temperature or fever (you feel hot to touch on your chest or back)
                  </label>
                </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="sore-throat" name="example" type="checkbox" value="sore-throat">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="sore-throat">
                  Sore throat
                </label>
              </div>
        
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="continuous-cough" name="example" type="checkbox" value="continuous-cough">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="continuous-cough">
                    New continuous cough
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="shortness-breath" name="example" type="checkbox" value="shortness-breath">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="shortness-breath">
                    Shortness of breath
                  </label>
                </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="muscle-joint" name="example" type="checkbox" value="muscle-joint">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="muscle-joint">
                    Muscle or joint pain
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="loss-smell" name="example" type="checkbox" value="loss-smell">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="loss-smell">
                    Loss of smell or taste
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="tired-exhaused" name="example" type="checkbox" value="tired-exhaused">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="tired-exhaused">
                    Feeling tired or exhausted
                </label>
              </div>


              <!--  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message" data-aria-controls="health-condition">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                        No - I have other symptoms
                    </label>
                  </div>
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="health-condition">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="contact-by-email">
                          Other symptoms
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-one-third" id="contact-by-email" name="contact-by-email" type="number" spellcheck="false"></input>
                    </div>
                  </div> -->
                  <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="no-symptoms" name="example" type="checkbox" value="no-symptoms">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="no-symptoms">
                          No - I do not have any symptoms
                      </label>
                    </div>



        
            </div>
          </fieldset>
        
        </div>
     
      <br>
      <form action="symptoms-start" method="post">
          <button class="nhsuk-button" type="submit">
              Continue
          </button>
      </form>
      <!-- End of content -->
    </div>
  </div>
{% endblock %}
