{% extends 'layout.html' %}

{% block pageTitle %}
Page not found – How is coronvirus affecting you – NHS.UK
{% endblock %}

{% block beforeContent %}

  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Page not found</h1>
      <p class="nhsuk-body">
        If you typed the web address, check it is correct.
      </p>
      <p class="nhsuk-body">
        If you pasted the web address, check you copied the entire address.
      </p>
      <p class="nhsuk-body">
        If the web address is correct or you selected a link or button, <a href="https://111.nhs.uk/covid-19" class="govuk-link">contact 111</a> if you need to speak to someone about coronvirus.
      </p>

    </div>
  </div>

{% endblock %}
