
{% extends 'layout.html' %}

{% block pageTitle %}
Page not found – How is coronvirus affecting you – NHS.UK
{% endblock %}

{% block beforeContent %}

  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Sorry, the service is unavailable</h1>
        <p class="nhsuk-body">
          You will be able to use the service from (planned date of shutter lift example, 9am on Monday 19 November 2018). 
        </p>
        <p class="nhsuk-body">
          Contact (who?) if you have any questions.
        </p>
        <p class="nhsuk-body">
          Telephone:<br>
          <strong class="nhsuk-!-font-weight-bold">0808 157 3900</strong>
        </p>
        <p class="nhsuk-body">
          Textphone:<br>
          <strong class="nhsuk-!-font-weight-bold">0808 157 3909</strong>
        </p>
        <p class="nhsuk-body">
          Opening times:<br>
          <strong class="nhsuk-!-font-weight-bold">Monday to Friday: 8am to 8pm</strong>
        </p>

    </div>
  </div>

{% endblock %}
