<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
          Help slow the spread of coronavirus in your community
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">This app can help protect you and the people around you from coronavirus (COVID-19).</p>
        <!--<div class="nhsuk-do-dont-list" style="background-color: transparent;">
          <ul class="nhsuk-list nhsuk-list--tick">
            <li>
              <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
              </svg>
              Your personal risk of catching coronavirus, based on where you’ve been and who you’ve been in contact with
            </li>
            <li>
              <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
              </svg>
              Which high-risk places you should avoid in your area
            </li>
            <li>
              <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
              </svg>
              What you can do to keep yourself and others safe
            </li>
          </ul>
        </div> -->

      
<p>It does this by alerting you if you’ve spent time near someone who is later diagnosed with the virus, if they are also using this app.</p>
<p>If enough people in your community use this app and follow the advice, the spread of coronavirus can be slowed.</p>
        <br>

        <form action="about-app" method="post">
            <button class="nhsuk-button" type="submit">
              Start now
            </button>
        </form>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
