<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="#">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
</div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <div class="nhsuk-width-container">
        
          <main class="nhsuk-main-wrapper " id="main-content" role="main">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds-from-desktop">
        
                <h1 class="nhsuk-heading-xl">Check your answers1</h1>
        
                <h2 class="nhsuk-heading-m">Coronavirus symptoms</h2>
        
                <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Staying at home due to coronavirus advice
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        A family member or person I live with has coronavirus
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Reason for staying at home
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        I have coronavirus symptoms
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Date symptoms started
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      11/03/2020
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                          You have a high temperature
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        Yes
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                          Change<span class="nhsuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                </dl>
        
                <h2 class="nhsuk-heading-m">Personal details</h2>
        
                <dl class="nhsuk-summary-list nhsuk-!-margin-bottom-9">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      <p class="nhsuk-body">11/09/1995</p>
                   </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Postcode
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        NE11 9NY
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                          Change<span class="nhsuk-visually-hidden"></span>
                        </a>
                      </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Live alone
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        No
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                          Change<span class="nhsuk-visually-hidden"></span>
                        </a>
                      </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Number of other people living in your household
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        3
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                          Change<span class="nhsuk-visually-hidden"></span>
                        </a>
                      </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Subscribe to text updates
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-visually-hidden"></span>
                      </a>
                    </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Mobile telephone number
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        07570517789
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                          Change<span class="nhsuk-visually-hidden"></span>
                        </a>
                      </dd>
                    </div>
                </dl>
        
                <h2 class="nhsuk-heading-m">Now send your answers</h2>
        
                <p class="nhsuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        
                <form action="done" method="post" novalidate>
        
                  <input type="hidden" name="answers-checked" value="true">
        
                  <button class="nhsuk-button" data-module="nhsuk-button">
                    Accept and submit
                  </button>
        
                </form>
        
              </div>
            </div>
          </main>
        </div>
      <br>
      
      <!-- End of content -->
    </div>
  </div>
{% endblock %}
