<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Tell us how coronavirus is affecting you
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


       <p>We’d appreciate it if you could answer some questions to help us understand:</p>
      <ul>
        <li>how people are being affected by coronavirus</li>
        <li>the number of people successfully recovering from coronavirus</li>
        <li>which areas of the country need resources most</li>
      </ul>    
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p> The answers you give us will not be shared beyond the NHS.
        </p>
      </div>
      <p>If you tell us your mobile number we can text you live updates. </p>
    
        <p>If you use this service on behalf of someone else, you’ll need to tell us their details.</p>          
        <br>

        <form action="you-or-someone-else" method="post">
            <button class="nhsuk-button" type="submit">
              Start now
            </button>
        </form>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
