<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<style>
  .js-enabled .nhsuk-checkboxes__conditional--hidden {
    display: block;
  }

  .js-enabled .govuk-checkboxes__conditional--hidden {
    display: none;
  }
  </style>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/dob" method="post">
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1>
                    Do you have any of these health conditions?  </h1>
              </legend>
              <span class="nhsuk-hint" id="example-hint">
                Select all options that are relevant to you.
              </span>
              <div class="nhsuk-checkboxes" data-module="checkboxes">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    Asthma
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                    Diabetes
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Heart problem
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Kidney problem
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      A weakened immune system
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Chronic lung condition besides asthma e.g. COPD, emphysema, or other conditions that affect your breathing
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    No – I don't have any of these health conditions
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message" data-aria-controls="health-condition">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    No - I have another health condition that is not listed
                  </label>
                </div>
                <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="health-condition">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="contact-by-email">
                        Other health condition
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="contact-by-email" name="contact-by-email" type="number" spellcheck="false"></input>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        <br>
        <button class="nhsuk-button" type="submit">
            Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}
